{%extends "layout.html" %} {%block title%} Students Display {%endblock%}
<br />
{%block h1%} Students Display {%endblock%} {%block content %}
    <div class="container mx-auto">
      <div class="flex justify-center items-center gap-20 py-16">
        <form
          class="bg-purple-100 rounded-lg border min-w-1/2"
          action="/insertemp"
        >
          <table class="mx-10 flex flex-col justify-center items-center">
            <h2 class="text-center font-bold text-2xl py-4 text-purple-700">
              Student Details
            </h2>
            <tr class="flex gap-2 justify-between items-center py-1 w-full">
              <td class="w-full p-1 px-2 rounded-lg">
                  Roll No: {{studentDetails.rollo}}
              </td>
            </tr>
            <tr class="flex gap-2 justify-between items-center py-1 w-full">
              <td class="w-full p-1 px-2 rounded-lg">
                  Name: {{studentDetails.name}}
                </p>
              </td>
            </tr>
            <tr class="flex gap-2 justify-between items-center py-1 w-full">
              <td class="w-full p-1 px-2 rounded-lg">
                  Course: {{studentDetails.course}}
              </td>
            </tr>
            <tr class="flex gap-2 justify-between items-center py-1 w-full">
              <td class="w-full p-1 px-2 rounded-lg">
                Fees: {{studentDetails.fee}}
              </td>
            </tr>
          </table>
        </form>
        <ul class="flex flex-col justify-start gap-4">
          <li
            class="flex justify-start items-center gap-2 border rounded-lg bg-purple-100 p-2 hover:bg-purple-700 hover:text-white"
          >
            <i class="fa-solid fa-user-group"></i>
            <a class="" href="/students">All Students</a>
          </li>
          <li
            class="flex justify-start items-center gap-2 border rounded-lg bg-purple-100 p-2 hover:bg-purple-700 hover:text-white"
          >
            <i class="fa-solid fa-user-plus"></i>
            <a class="" href="/students/add">Add Students</a>
          </li>
          <li
            class="flex justify-start items-center gap-2 border rounded-lg bg-purple-100 p-2 hover:bg-purple-700 hover:text-white"
          >
            <i class="fa-solid fa-pen-to-square"></i>
            <a class="" href="/students/update">Update Students</a>
          </li>
          <li
            class="flex justify-start items-center gap-2 border rounded-lg bg-purple-100 p-2 hover:bg-purple-700 hover:text-white"
          >
            <i class="fa-solid fa-user-minus"></i>
            <a class="" href="/students/delete">Delete Students</a>
          </li>
          <li
            class="flex justify-start items-center gap-2 border rounded-lg p-2 bg-purple-700 text-white"
          >
            <i class="fa-solid fa-eye"></i>
            <p class="">Student Details</p>
          </li>
          <li
            class="flex justify-start items-center gap-2 border rounded-lg bg-purple-100 p-2 hover:bg-purple-700 hover:text-white"
          >
            <i class="fa-solid fa-magnifying-glass"></i>
            <a class="" href="#">Search Students</a>
          </li>
        </ul>
      </div>
    </div>
{%endblock%}
