<!DOCTYPE html>
{%load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'css/home.css'%}" />
    <title>Students - home</title>
  </head>
  <body>
    <header>
      <a href="/">Home</a>
      <a href="/about">About</a>
      <a href="/courses">Courses</a>
      <a href="/contacts">Contacts</a>
      <a href="/calculator">Calculator app</a>
      <a href="/students">Students</a>
    </header>
    <h1>Students</h1>
    <div></div>
  </body>
</html>
