<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><a href="/cookies/addcart">Add Product to Cart</a></h1>
    <h1><a href="/cookies/updatecart">Update Product to Cart</a></h1>
    <h1><a href="/cookies/deletecart">Delete Product from Cart</a></h1>
    <h1><a href="/cookies/viewcart">View Cart</a></h1>
    <form action="read" method="get">
      <table border="1">
        <tr>
          <td>Name</td>
          <td><input type="text" name="name" /></td>
        </tr>
        <tr>
          <td>
            <input type="submit" value="submit" />
          </td>
        </tr>
      </table>
    </form>
  </body>
</html>
