{% extends "layout.html" %} {% load static %} {% block css %}
<link rel="stylesheet" href="{% static 'css/calculator.css' %}" />
{% endblock %} {% block title %} Calculator {% endblock %} {% block h1 %}
Calculator {% endblock %} {% block content %}
<div>
  <center>
    <form method="GET">
      <table border="2">
        <tr>
          <td>First Number</td>
          <td><input type="text" name="n1" /></td>
        </tr>
        <tr>
          <td>Second Number</td>
          <td><input type="text" name="n2" /></td>
        </tr>
      </table>
      <div>
        <input type="submit" value="Add" name="b1" />
        <input type="submit" value="Sub" name="b1" />
        <input type="submit" value="Mul" name="b1" />
        <input type="submit" value="Div" name="b1" />
      </div>
    </form>
    {% if result is not None %}
    <h2>Result: {{ result }}</h2>
    {% endif %}
  </center>
</div>
{% endblock %}
