body {
  margin: 0px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: antiquewhite;
  border-bottom: 1px solid blueviolet;
}

header a {
  color: blueviolet;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
}

h1 {
  color: blue;
}
